.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px solid red;
}

.error_message {
  color: red
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.deleteButton {
  background: lightcoral;
  font-weight: bold;
}

.addButton {
  background: aquamarine;
  font-weight: bold;
}

button,
input,
button:active,
button:focus {
  outline: none;
  border-color: aquamarine;
  border-radius: 5px;
}